@font-face {
    font-family: 'bunw';
    src: url('../fonts/bunw/bunigc.woff2') format('woff2');
    }

@font-face {
    font-family: 'ardw';
    src: url('../fonts/ardw/ardchlo.woff2') format('woff2');
    }

@font-face {
    font-family: 'mionw';
    src: url('../fonts/mionw/mionchlo.woff2') format('woff2');
    }

@font-face {
    font-family: 'urrw';
    src: url('../fonts/urrw/urrgc.woff2') format('woff2');
    }

@font-face {
    font-family: 'gearw';
    src: url('../fonts/gearw/gear.woff2') format('woff2');
    }

@font-face {
    font-family: 'glanw';
    src: url('../fonts/glanw/glangc.woff2') format('woff2');
    }

@font-face {
    font-family: 'mearw';
    src: url('../fonts/mearw/mearchlo.woff2') format('woff2');
    }

@font-face {
    font-family: 'sraidw';
    src: url('../fonts/sraidw/SraidchloGC-Regular.woff2') format('woff2');
    }

html{
  height: 100vh;
  width: 100vw;
}

body{
   font-family:'urrw','Gaelic Modern', sans-serif;
   height: 100vh;
   width: 100vw;
   position:absolute;
   background-color: #818181;
   overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin:0;
}

:root {
  --form-control-color: rebeccapurple;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(1px, 0.1em) solid currentColor;
  outline-offset: max(1px, 0.1em);
}

input[type="search"]::placeholder {
  color: white;
  padding:0;
  margin:0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
    margin-right: 0.5em;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 0.8em auto;
    gap: 0.5em;
}

#poncSelection{
  display: inline-flex;
}

.tooltip {
  position: relative;
  border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
  font-family:'urrw','Gaelic Modern', sans-serif;
  visibility: hidden;
  color: black;
  text-align: center;
  border-radius: 12px;
  padding: 7px 6px 2px 7px;
  position: absolute;
  z-index: 1;
  border: 1px solid #478bff;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color:white;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: -4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 5px 9px;
  background-color: #09ecec3d;
  border-radius: 0px 17px 17px 0px;
  font-size: smaller;
  box-shadow: 3px 0px 3px -2px #0000003d;
  text-decoration: none;
  display: block;
  margin: 1px 0px 1px 0px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #09ecec1d;}

#searchBoxContainer {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.search-wrapper {
  width: 155px;
  height: 28px;
  display: flex;
  margin: 0 auto;
  margin-top: 7px;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  outline: none;
  overflow:hidden;
  background-color: #ffffff5e;
}

.searchIcon{
  background: url("../img/searchIcon.png") no-repeat scroll 0px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin: -10px 0px 0px -9px;
  width: 20px;
  height: 20px;
  position: absolute;
}

#searchTerm{
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 10px;
  margin: 0 auto;
  fill: none;
  background: #7d66208c;
  border: none;
}

#searchTerm:hover {
  background-color: #a2588f52;
  color: white;
  /* cursor: pointer; */
}

.search-btn {
  border-radius: 50%;
  width: 29px;
  cursor: pointer;
  height: 29px;
  border: none;
  background: #9712ad4a;
  margin-left: -28px;
  z-index: 2;
  outline: none;
}

#specialCharsContainer {
    margin-top: 4px;
    display: inline-block;
    font-family: 'urrw';
    font-size: 0.9rem;
}

#specialCharsContainer span {
    display: inline-block;
    box-shadow: inset 0px 0px 3px 1px #00000024;
    border-radius: 7px;
    width: 22px;
    margin-right: 2px;
    padding-top: 2px;
}

#specialCharsContainer span:hover {
  background-color: #4588ff;
  color: white;
  cursor: pointer;
}

.web-title {
    position: fixed;
    text-align: center;
    font-family: 'ardw';
    width: 96%;
    margin-left: 2%;
    padding: 10px;
    top: -7px;
    z-index: 2;
    background-color: #818181d6;
    box-shadow: 0px 0px 2px 1px #0000001a;
    border-radius: 5px;
}

.web-title > h2 {
  margin: 5px 12px 5px -13px;
  font-family: 'mionw';
  font-size: 2.5rem;
  color: #13671e;
}

.datom-header {
  font-family: 'urrw', 'Gaelic Modern', sans-serif;
  font-size: large;
  width: fit-content;
  margin: 0 auto;
  padding: 0.2rem 0.7rem 0.8rem 0.7rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 1px #0000001a;
}

.buy-me{
  background-color:white;
  display: block;
  border-radius: 24px;
  width: fit-content;
  padding: 0px 8px 3px 9px;
  margin: 0 auto;
}

.mick-icon{
  background-color:white;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
}

.mick-icon span {
    background: url(../img/mickicon.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    display: inline-block;
    margin-top: 5px;
}

.mick-icon:hover{
  cursor:pointer;
}

#cashApp{
  background: url('../img/cashapp.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  margin-top: 10px;
}

#payPal{
  background: url('../img/paypal.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  margin-top: 10px;
}
#revolut{
  background: url('../img/revolut.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  margin-top: 10px;
}

#cashApp,#payPal,#revolut:hover{
  cursor:pointer;
}

.sentence {
  border-radius: 8px;
  margin: 10px 0px 0px 0px;
  padding: 9px 12px 7px 9px;
  background-color: #f5f5dc;
  width: fit-content;
  float: unset;
  font-size: 1rem;
  box-shadow: 0px 0px 3px -1px #00000066;
}

.soundicon {
    background: url('../img/soundicon.png');
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    margin-left: 9px;
    background-size: contain;
    display: inline-block;
    /* Other styles here */
}

.soundicon:hover{
  cursor:pointer;
}

.irish-font{
  font-size: 1.3rem;
  font-family:'urrw', sans-serif;
}

#sentenceContainer {
  background-color: #d6d6d6;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 5px 5px 9px 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  box-shadow: inset 0px 0px 7px -4px black;
}

.underline_word{
  color: #2e9020;
  text-decoration: underline;
}

#wordItems {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  width: 98%;
  background-color: white;
  margin: 0 auto;
  border-top-left-radius: 9px;
  padding: 13px;
  border-top-right-radius: 9px;
  box-shadow: inset 0px 0px 7px -4px black;
}

.wordItem{
  vertical-align:middle;
  font-size: 1.1rem;
  padding: 6px 11px 2px 10px;
  border-radius: 5px;
  color: white;
  margin: 2px;
  background-color: #478bff;
  text-shadow: 1px 1px black;
  box-shadow: 7px 7px 8px -10px black;
  }

.wordItem:hover{
  /*font-size: medium;*/
  background-color: #2fa60d;
  text-shadow: 0px 0px 3px black;
  /*padding: 9px 20px 5px 19px;*/
  cursor: pointer;
}

#datom-container{
  background-color: #d9d9d9;
  height: 100%;
  width: 100%;
  position: fixed;
}

.custom-input {
    color: black;
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 6px;
    background-color: #ffffff5e;
    padding: 5px 5px 5px 8px;
    border: 1px solid #595959;
}

.custom-input:hover{
  background-color: #4588ff;
  color:white;
  cursor:pointer;
}

.loader-box {
  top: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b8;
  z-index: 3;
  height: 100%;
  position: fixed;
}

.loader {
    width: 40px;
    height: 40px;
    --c:no-repeat linear-gradient(orange 0 0);
    background: var(--c),var(--c),var(--c),var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
   0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
   33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
   66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
   100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}
